.App {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 32px;
  padding-right: 32px;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1201px) {
  .App {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 620px) {
  .App {
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    /* overflow-x: hidden; */
  }
}
