body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1200px;
  margin: auto;
}
@media (min-width:1201px) {
  body{
    width: 100%;
  }
}
@media (max-width:620px) {
  body{
    width: 100%;
    overflow-y: scroll;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Monu B;
  src: url(../public/fonts/MonumentExtended-Regular.otf);
}
@font-face {
  font-family: Monts B;
  src: url(../public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: Monts reg;
  src: url(../public/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Monu reg-s;
  src: url(../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}
